@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.confirmationInfoBox {
  color: white;
  background-color: #393e46;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.confirmationInfoBox.opened {
  cursor: default;
  height: auto;
}

.confirmationInfoHeader {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
}

.confirmationInfoTitle {
  font-family: "Manrope";
  font-size: 24px;
  padding: 25px;
}

.confirmationInfoData {
  padding: 0 25px;
  place-self: center;
}

.confirmationInfoButtons {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  gap: 15px;
}
