.foodCardsBoxBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.foodCardsBoxTitle {
  font-family: "Manrope";
  font-size: 24px;
  padding-top: 25px;
  color: #89b8e9;
}

/* .foodCardsContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(270px, 1fr)
  );
  gap: 20px;
} */

.foodCardsContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}
