.flightCardBox {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  font-family: "Manrope";
  background-color: #393e46 !important;
}

.flightCardBox:hover {
  cursor: pointer;
  background-color: #215e9e !important;
  color: white !important;
}

.flightCardBox:active {
  cursor: pointer;
  background-color: #89b8e9 !important;
  color: white !important;
}

.flightCardInfo {
  display: flex;
  align-content: center;
  margin-left: 25px;
  font-size: 24px;
}

.flightCardTime {
  width: 300px;
}

.flightCardLabel {
  display: flex;
  align-items: center;
  margin-left: 70px;
  font-size: 14px;
}

.flightCardLabelIcon {
  margin-right: 5px;
}

.flightCardPrice {
  margin-right: 25px;
  font-weight: 600;
  font-size: 24px;
  color: #89b8e9 !important;
}

.flightCardBox:hover .flightCardPrice {
  color: white !important;
}

.flightCardBox:hover .flightCardLabelIcon {
  color: white !important;
}

.flightCardBox.selected {
  background-color: #89b8e9 !important;
  color: white !important;
}

.flightCardBox.selected .flightCardPrice {
  color: white !important;
}

.flightCardBox.selected .flightCardLabelIcon {
  color: white !important;
}
