.navBarImage {
  height: 80%;
  width: auto !important;
  object-fit: contain !important;
  padding-left: 25px;
}

.navBarImage:hover {
  cursor: pointer;
}

.navBarBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px; /* TODO: define the height */
}

.navBarRight {
  padding-right: 25px;
}

.navBarIcon {
  height: 45px; /* size of the area */
  width: 45px;
}

.navBarIconProfile svg {
  font-size: 20px; /* size of the icon itself */
  padding-left: 10px;
}

.navBarIconMenu svg {
  font-size: 25px; /* size of the icon itself */
}
