.passengerConfirmationCardBox {
  width: 450px;
  /* border: 1px solid white; */
}

.passengerConfirmationCardSmallBox {
  border-radius: 20px;
  border: 1px solid white;
  padding: 20px;
  margin: 20px;
}

.passengerConfirmationCardBigText {
  font-family: "Manrope";
  font-size: 24px;
  color: #89b8e9;
  margin-bottom: 10px;
}

.passengerConfirmationCardText {
  font-family: "Manrope";
  font-size: 14px;
  color: white;
  margin: 5px 0;
}
