.paymentInfoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Manrope";
  font-size: 24px;
  margin-bottom: 20px;
}

.paymentInfoTitleBox {
  display: flex;
}

.paymentInfoTitle {
  font-weight: 400;
  color: #393e46;
}

.paymentInfoSubtitle {
  font-weight: 600;
  color: #215e9e;
}

.paymentInfoBox {
  width: 900px;
  display: flex;
  flex-direction: column;
}

.paymentInfoButtons {
  place-self: end;
  margin: 25px 0;
}

.paymentInfoContent {
  display: flex;
  justify-content: center;
  font-family: "Manrope";
  margin-top: 30px;
}

.paymentInfoConfirmationMessage {
  justify-self: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #215e9e;
}

.paymentInfoConfirmationThanks {
  justify-self: center;
  font-size: 16px;
  color: #393e46;
}

.paymentInfoConfirmationImage {
  width: 300px !important;
  height: 300px !important;
  aspect-ratio: 1/1;
  margin-top: 25px;
  justify-self: center;
}
