.languageSelectorBox {
  border-radius: 8px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 500;
  font: "Manrope";
  background-color: #215e9e;
}

.languageSelectorBox:hover {
  cursor: pointer;
}

.languageSelectorBox option {
  cursor: pointer;
}

/* Now it has option className */
/* Google how to get rid of "select frame on double click" */
