.languageSelectorBox {
  border-radius: 8px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 500;
  font: "Manrope";
  background-color: #215e9e;
}

.languageSelectorBox:hover {
  cursor: pointer;
}

.languageSelectorBox option {
  cursor: pointer;
}

/*how to style the dropdown part? (index does not have a place for classname, if I understand correctly)*/
