.flightControlEditFlightBox {
  height: 100%; /* should accept parent's params */
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flightControlEditFlightTitle {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 400;
}

.flightControlEditFlightIcon {
  color: #89b8e9;
  cursor: pointer;
}

.flightControlEditFlightIcon:hover {
  color: white;
}

.flightControlEditFlightIcon:active {
  color: #215e9e;
}
