.customButtonBox {
  background-color: var(--btn-bg, #89b8e9);
  color: var(--btn-color, white);
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
}

.customButtonBox:hover:not(:disabled) {
  background-color: var(--btn-bg-hover, #215e9e);
  color: var(--btn-color-hover, white);
  cursor: pointer;
}

.customButtonBox:active:not(:disabled) {
  background-color: var(--btn-bg-active, #89b8e9);
  color: var(--btn-color-active, white);
}

.customButtonBox:disabled {
  background-color: var(--btn-bg-disabled, #cccccc);
  color: var(--btn-color-disabled, #777777);
  cursor: not-allowed;
}
