.bigSearchBoxBox {
  width: 900px;
  display: flex;
  align-items: center;
  height: 175px;
  border-radius: 0px 20px 20px 20px;
  column-gap: 15px;
}
.searchButton {
  height: 50px;
  width: 85px;
  border-radius: 20px;
  border: none;
  background-color: #215e9e;
  margin-right: 20px;
  margin-left: 180px;
}

.bigSearchBoxInputs {
  display: flex;
}
