.bigSearchBoxBox {
  width: 900px;
  display: flex;
  align-items: center;
  height: 175px;
  border-radius: 0px 20px 20px 20px;
  column-gap: 15px;
  justify-content: space-between;
}
.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 85px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #215e9e;
  margin-right: 20px;
  /* margin-left: 180px; */
}

.searchButton:hover {
  cursor: pointer;
  background-color: #89b8e9;
}

.bigSearchBoxInputs {
  display: flex;
}
