@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.flightTopContentBox {
  display: flex;
  width: 900px;
  flex-direction: column;
  align-items: flex-start;
}

.flightTopContentRoute {
  padding: 10px 0;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 14px;
}

.flightTopContentRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flightTopContentCard {
  width: 750px;
}
